.tab button {
  background-color: transparent;
  float: left;
  border: none;
  outline: none;
  color : #ffffff;
  cursor: pointer;
  padding: 14px 26px;
  font-size: 20px;
  font-family: 'Arial Black';
  opacity : 1;
}
.tab button2 {
  background-color: transparent;
  float: left;
  font-size: 20px;
  border: none;
  outline: none;
  color : #ffffff;
  cursor: pointer;
  padding: 14px 16px;
}
.tab button:hover {
  color: #cdcdcd;
}
.tab button.active {
  color: red;
}
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}
.topright:hover {color: red;}
/* top TAB */
.topName {
  cursor: pointer;
  background-color: transparent;
  color: #e65c00;
  font-family: 'Arial Black';
  font-size: 38px;
  position: absolute;
  padding: 30px 50px;
  background-image: linear-gradient(180deg, #ffffff 53%,#FFA69E 47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
. toptabName {
  cursor: pointer;
  background-color: transparent;
  color: #e65c00;
  font-family: 'Arial Black';
  font-size: 38px;
  padding: 30px 50px;

}
