.workTitle {
  Background-color : transparent;
 Color : #ffffff;
  opacity: 1;
  background-position: center;
  background-size: cover;
  display: block;
Padding: 0px 0px;
position: relative;
 Text-align:left;
font-size: 28px;
}
.socialmwork {
  Background-color : transparent;
 Color : #ffffff;
  opacity: 1;
  background-position: center;
  background-size: cover;
  display: block;
  margin : 3% 30%;
 padding: 0px 0px;
position: relative;
 text-align:center;
}
.socialmworksmall {
  margin : 5% 35%;
}
.socialmworksub {
 background-image: url('SI_work.png');
}
.socialmwork:hover {
  animation-iteration-count: infinite; 
  animation: shake 0.5s;
}
.dropbtn {
  background-image: url('SI_work.png');
  Background-color : transparent;
  font-size: 18px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  Background-color : #ffffff;
  display: none;
  position: absolute;
  min-width: 160px;
  bottom: 75%;
  Left : 25%;
  z-index: 1;
}

.dropup-content a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropup-content a:hover {
}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: transparent;
  opacity : 0.3;
}