/* fun and techie */

.leftSideButton {
  display: inline-block;
  background-color: transparent;
  border: none;
  color: #ffffff;
  text-align: right;
  font-size: 30px;
  font-family: 'Comic Sans MS', 'Marker Felt', sans-serif;
  cursor: pointer;
  height : 100px;
  float: left;
}

.rightSideButton {
  display: inline-block;
  background-color: transparent;
  border: none;
  color: #ffffff;
  text-align: left;
  font-size: 30px;
  font-family: "Courier New";
  transition: all 0.5s;
  cursor: pointer;
  height : 100px;
  float: right;
  white-space: nowrap;
}


.leftSideButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.rightSideButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.leftSideButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  bottom: 50%;
  right: 50px;
  transition: 0.5s;
}
.rightSideButton span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50px;
  transition: 0.5s;
}

.leftSideButton:hover span {
  padding-right: 30%;
}
.rightSideButton:hover span {
  padding-left:  20%;
}

.leftSideButton:hover span:after {
  opacity: 1;
  right: 0;
}
.rightSideButton:hover span:after {
  opacity: 1;
  left: 0;
}
.tabcontent {
  display: none;
  border: none;
  padding: 0px 0px;
  height:30px;
}
/* fun and techie */
/* image */

