.box {
        display: flex;
        flex-flow: column;
        height: 100%;
        flex: 0 0 auto;
	background-image: linear-gradient(to right,#8e0e00b3,#1f1c18 60%);
	border-top: 1px solid #8e0e00;
}
.content1 {
       
}
.content1sub
{
         background-image: linear-gradient(to right, #000000 15%, #000000d4);
}
.content2 {
        flex: 1 1 auto;
}
.content2sub1
{
    background-image: linear-gradient(to right bottom, #8e0e00bf , #000000 45%);
   border-top: 1px solid #8e0e00;

}
.content2sub2
{
     background-image: linear-gradient(to right top,#000000 55%,#000000 );
}
.content3sub
{
      background-image: linear-gradient(to right top,#000000 55%,#8e0e00f5 );
      border-top: 1px solid #8e0e00;
}
.content4sub
{
      background-image: linear-gradient(to right, #8e0e00de, #000000de  );
}
.content5sub
{
      background-image: linear-gradient(to right, #8e0e00de, #000000de  );
}
.footer {
        flex: 0 1 auto;
        background-image: linear-gradient(to right,#8e0e00,#1f1c18);
       
}
.footView {
  background-image: linear-gradient(to right,#1f1c18,#000000);
  border: none;
  outline: none;
  color : #ffffff;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  font-family: 'Arial Black';
  opacity : 1;
  text-align: right; 
}


.footButton {
  background-color: transparent;
  float: right;
  border: none;
  outline: none;
  color : #ffffff;
  cursor: pointer;
  padding: 14px 26px;
  transition: 0.3s;
  font-size: 18px;
  font-family: 'Arial Black';
  opacity : 1;
  margin: 10px 10px; 
  text-align: left;

}

