.simagecards {
object-fit: contain;
text-align: center;
position: relative;
top: 15px;
border-radius: 10px;

}
.simagecardssub {

  
}
.simagecards2 {
  height : 30px;
  object-fit: contain;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
}
